<div class="count-label type-count">
  <span>{{ cardtype }}</span>
  <span>{{ count }}</span>
</div>
<div class="card-list">
  <ng-container *ngFor="let card of deckCardList">
    <div class="card">
      <digimon-card-app-card-img
        [src]="card.cardInfo.imgSrc"
        [size]="'s'"
      ></digimon-card-app-card-img>
      <div class="card-count">
        <button
          class="count-btn"
          (click)="remove.emit(card.cardInfo.imgFileName)"
        >
          <mat-icon aria-hidden="false" aria-label="minus" class="clickable"
            >remove</mat-icon
          >
        </button>
        <p class="card-count">{{ card.count }}</p>
        <button class="count-btn" (click)="add.emit(card.cardInfo.imgFileName)">
          <mat-icon aria-hidden="false" aria-label="plus" class="clickable"
            >add</mat-icon
          >
        </button>
      </div>
    </div>
  </ng-container>
</div>
