<ng-container *ngIf="gs$ | async as gs">
  <digimon-card-app-card
    [card]="digimon.card"
    [disableClick]="true"
    class="w-full"
  ></digimon-card-app-card>
  <ng-container *ngIf="digimon.evolutionOiriginCardList.length !== 0">
    <div class="flex flex-wrap justify-center mt-1">
      <ng-container
        *ngFor="
          let evolutionOrigin of digimon.evolutionOiriginCardList | arrayReverse
        "
      >
        <img
          [src]="evolutionOrigin.imgSrc"
          class="evolution-origin-thumbnail"
        />
      </ng-container>
    </div>
  </ng-container>
  <ng-container *ngIf="gs.modeState?.mode != null">
    <div class="inline-block mt-2">
      <button mat-stroked-button (click)="selected.emit()">選択</button>
    </div>
  </ng-container>
</ng-container>
