@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  margin: 0;
}

mat-form-field {
  .mat-form-field-wrapper {
    padding-bottom: 0 !important;
    .mat-form-field-underline {
      bottom: 0 !important;
    }
  }
}

.clickable:hover {
  cursor: pointer;
}

.width-full {
  width: 100%;
}

div {
  box-sizing: border-box;
}
