<div>
  <header class="mat-elevation-z2">
    <digimon-card-app-logo class="logo"></digimon-card-app-logo>
    <digimon-card-app-filter-and-sort></digimon-card-app-filter-and-sort>
  </header>
  <main>
    <ng-container *ngIf="filteredCards$ | async as cards">
      <p>count: {{ cards.length }}</p>
      <div class="card-list">
        <ng-container *ngFor="let card of cards">
          <digimon-card-app-card
            class="card"
            [src]="card.imgSrc"
            [imgFileName]="card.imgFileName"
          ></digimon-card-app-card>
        </ng-container>
      </div>
    </ng-container>
  </main>
</div>

<digimon-card-app-deck-panel
  class="mat-elevation-z3"
></digimon-card-app-deck-panel>
