:host {
  display: block;
  padding: 0 32px;
  margin: 0 auto;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 8px;
}

.card {
  padding: 4px 8px;
}

.logo {
  padding: 12px 0;
  line-height: 1;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;

  padding: 12px 24px;
  background-color: #fff;
}
