<ng-container *ngIf="stack$ | async as stack">
  <img
    *ngIf="stack.cardList?.length !== 0"
    src="./assets/images/back.png"
    alt="stack"
    class="w-14 cursor-pointer mt-2"
    [digimonCardAppMenuTrigger]="menu"
    (contextmenu)="onContextMenu$.next($event)"
    (click)="onClick$.next()"
  />
  <mat-menu #menu="matMenu">
    <ng-container *ngFor="let action of actionList">
      <button mat-menu-item (click)="onAction$.next(action)">
        {{ action.displayText }}
      </button>
    </ng-container>
  </mat-menu>

  <p class="text-xs text-center mt-2">{{ stack.cardList.length }}</p>
</ng-container>
