<ng-container *ngIf="securityCheckArea$ | async as securityCheckArea">
  <div *ngIf="securityCheckArea.cardList.length > 0" class="p-3">
    <h3 class="text-xs text-left">セキュリティ確認</h3>
    <span class="block text-xs text-red-700"
      >自分だけがセキュリティの中身を確認できています。</span
    >
    <div class="mt-2 flex flex-wrap">
      <ng-container *ngFor="let card of securityCheckArea.cardList">
        <digimon-card-app-card
          [card]="card"
          [actionList]="actionList"
          (action)="onAction$.next($event)"
          class="w-14 m-1"
        ></digimon-card-app-card>
      </ng-container>
    </div>
  </div>
</ng-container>
