<div class="flex">
  <ng-container *ngIf="digitamaStack$ | async as digitamaStack">
    <div class="w-14">
      <img
        *ngIf="digitamaStack.cardList.length !== 0"
        src="./assets/images/back_digitama.png"
        alt="digitama stack"
        class="w-full cursor-pointer"
        [digimonCardAppMenuTrigger]="menu"
        (contextmenu)="onContextMenu$.next($event)"
      />
      <mat-menu #menu="matMenu">
        <ng-container *ngFor="let action of actionListForDigitamaStack">
          <button
            mat-menu-item
            (click)="onActionFromDigitamaStack$.next(action)"
          >
            {{ action.displayText }}
          </button>
        </ng-container>
      </mat-menu>
      <span class="inline-block w-full text-center text-xs mt-1">{{
        digitamaStack.cardList.length
      }}</span>
    </div>
  </ng-container>
  <ng-container *ngIf="standbyArea$ | async as standbyArea">
    <div class="ml-2 w-14">
      <ng-container *ngIf="standbyArea.digimon">
        <digimon-card-app-digimon
          [digimon]="standbyArea.digimon"
          [actionList]="actionListForStandbyArea"
          (selected)="onSelectedDigimonCard$.next(standbyArea.digimon)"
          (action)="onActionFromStandbyArea$.next($event)"
          class="w-full"
        ></digimon-card-app-digimon>
      </ng-container>
    </div>
  </ng-container>
</div>
