<ng-container *ngIf="battleArea$ | async as battleArea">
  <div class="flex flex-wrap justify-center">
    <ng-container *ngFor="let digimon of battleArea.digimonList">
      <digimon-card-app-digimon
        [digimon]="digimon"
        [actionList]="battleAreaCardActionList"
        (selected)="onSelectDigimonCard$.next(digimon)"
        (action)="onAction$.next($event)"
        class="w-14"
        [ngClass]="[digimon.isRest ? 'mx-5 my-2' : 'mx-1 my-2']"
      ></digimon-card-app-digimon>
    </ng-container>
  </div>
</ng-container>
