<div class="p-4">
  <button mat-flat-button color="primary" (click)="onReset$.next()">
    reset
  </button>
</div>

<ng-container *ngIf="gs$ | async as gs">
  <div class="flex">
    <mat-card class="flex-1">
      <h3>セキュリティオープンエリア</h3>
    </mat-card>

    <mat-card class="flex-1">
      <h3>山札オープンエリア</h3>
    </mat-card>
  </div>

  <div class="flex">
    <div class="">
      <mat-card>
        <h3>セキュリティ</h3>
      </mat-card>
    </div>

    <div class="flex-1">
      <digimon-card-app-battle-area class="m-1"></digimon-card-app-battle-area>

      <mat-card>
        <h3>オプション</h3>
        <div class="mt-2 flex">
          <ng-container *ngFor="let card of gs.playState.optionArea.cardList">
            <digimon-card-app-card
              [card]="card"
              class="w-20 m-1"
            ></digimon-card-app-card>
          </ng-container>
        </div>
      </mat-card>

      <mat-card>
        <h3>テイマー</h3>
        <div class="mt-2 flex">
          <ng-container *ngFor="let card of gs.playState.tamerArea.cardList">
            <digimon-card-app-card
              [card]="card"
              class="w-20 m-1"
            ></digimon-card-app-card>
          </ng-container>
        </div>
      </mat-card>
    </div>

    <div class="">
      <digimon-card-app-stack class="m-1"></digimon-card-app-stack>
      <mat-card>
        <h3>トラッシュ</h3>
      </mat-card>
    </div>
  </div>

  <digimon-card-app-hand class="m-1"></digimon-card-app-hand>
</ng-container>
