<ng-container *ngIf="gs$ | async as gs">
  <ng-container *ngIf="isConnected$ | async; else notConnected">
    <div class="other-side" *ngIf="gs.deck.cardList.length > 0">
      <digimon-card-app-security-open-area
        class="m-1"
        [securityOpenArea]="gs.otherSidePlayState.securityOpenArea"
        [side]="'other'"
      ></digimon-card-app-security-open-area>

      <digimon-card-app-stack-open-area
        class="m-1"
        [stackOpenArea]="gs.otherSidePlayState.stackOpenArea"
        [side]="'other'"
      ></digimon-card-app-stack-open-area>

      <div class="flex">
        <div class="">
          <digimon-card-app-security-area
            class="m-1"
            [securityArea]="gs.otherSidePlayState.securityArea"
            [side]="'other'"
          ></digimon-card-app-security-area>
          <digimon-card-app-raising-area
            class="m-1"
            [digitamaStack]="gs.otherSidePlayState.digitamaStack"
            [standbyArea]="gs.otherSidePlayState.standbyArea"
            [side]="'other'"
          ></digimon-card-app-raising-area>
        </div>

        <div class="flex-1 p-3">
          <digimon-card-app-battle-area
            class="m-1"
            [battleArea]="gs.otherSidePlayState.battleArea"
            [side]="'other'"
          ></digimon-card-app-battle-area>
          <digimon-card-app-tamer-area
            class="m-1"
            [tamerArea]="gs.otherSidePlayState.tamerArea"
            [side]="'other'"
          ></digimon-card-app-tamer-area>
          <digimon-card-app-option-area
            class="m-1"
            [optionArea]="gs.otherSidePlayState.optionArea"
            [side]="'other'"
          ></digimon-card-app-option-area>
        </div>

        <div class="">
          <digimon-card-app-stack
            class="m-1"
            [stack]="gs.otherSidePlayState.stack"
            [side]="'other'"
          ></digimon-card-app-stack>
          <digimon-card-app-trash-area
            class="m-1"
            [trashArea]="gs.otherSidePlayState.trashArea"
            [side]="'other'"
          ></digimon-card-app-trash-area>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #notConnected>
    <div class="p-6 flex items-center justify-center bg-white">
      <div class="flex flex-col items-center">
        <h4 class="text-sm">対戦相手と接続</h4>
        <mat-form-field appearance="outline" class="mt-2">
          <mat-label>Peer ID</mat-label>
          <input type="text" matInput name="" id="" [formControl]="remoteId" />
        </mat-form-field>
        <button mat-stroked-button (click)="connect()">connect</button>
        <div class="mt-6">
          <div class="text-xs text-gray-700 flex">
            <p>自分のPeerID:</p>
            <p class="ml-2">{{ myPeerId$ | async }}</p>
          </div>
        </div>
      </div>
    </div>
  </ng-template>

  <div class="flex items-center">
    <div></div>
    <digimon-card-app-memory class="my-4 flex-1"></digimon-card-app-memory>
    <div>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon aria-hidden="false" aria-label="menu">menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="onImportDeck$.next()">
          デッキ Import
        </button>
        <button mat-menu-item (click)="onInitPlay$.next()">
          対戦セットアップ
        </button>
        <button mat-menu-item (click)="onReset$.next()">リセット</button>
      </mat-menu>
    </div>
  </div>

  <div *ngIf="gs.deck.cardList.length > 0">
    <digimon-card-app-security-open-area
      class="m-1"
      [securityOpenArea]="gs.playState.securityOpenArea"
      [side]="'self'"
    ></digimon-card-app-security-open-area>
    <digimon-card-app-security-check-area
      class="m-1"
      [securityCheckArea]="gs.playState.securityCheckArea"
      [side]="'self'"
    ></digimon-card-app-security-check-area>

    <digimon-card-app-stack-open-area
      class="m-1"
      [stackOpenArea]="gs.playState.stackOpenArea"
      [side]="'self'"
    ></digimon-card-app-stack-open-area>

    <div class="flex">
      <div class="">
        <digimon-card-app-security-area
          class="m-1"
          [securityArea]="gs.playState.securityArea"
          [side]="'self'"
        ></digimon-card-app-security-area>
        <digimon-card-app-raising-area
          class="m-1"
          [digitamaStack]="gs.playState.digitamaStack"
          [standbyArea]="gs.playState.standbyArea"
          [side]="'self'"
        ></digimon-card-app-raising-area>
      </div>

      <div class="flex-1 p-3">
        <digimon-card-app-battle-area
          class="m-1"
          [battleArea]="gs.playState.battleArea"
          [side]="'self'"
        ></digimon-card-app-battle-area>
        <digimon-card-app-tamer-area
          class="m-1"
          [tamerArea]="gs.playState.tamerArea"
          [side]="'self'"
        ></digimon-card-app-tamer-area>
        <digimon-card-app-option-area
          class="m-1"
          [optionArea]="gs.playState.optionArea"
          [side]="'self'"
        ></digimon-card-app-option-area>
      </div>

      <div class="">
        <digimon-card-app-stack
          class="m-1"
          [stack]="gs.playState.stack"
          [side]="'self'"
        ></digimon-card-app-stack>
        <digimon-card-app-trash-area
          class="m-1"
          [trashArea]="gs.playState.trashArea"
          [side]="'self'"
        ></digimon-card-app-trash-area>
      </div>
    </div>

    <digimon-card-app-hand
      class="m-1 mt-5"
      [hand]="gs.playState.hand"
      [side]="'self'"
    ></digimon-card-app-hand>
  </div>
</ng-container>
