<mat-form-field appearance="fill" class="width-full" floatLabel="always">
  <mat-label>Deck Title</mat-label>
  <input type="text" matInput [formControl]="titleForm" />
</mat-form-field>

<div class="deck-card-list">
  <div class="count-label total-count">
    <span>total</span>
    <span>{{ (deckTotalCount$ | async) || 0 }}</span>
  </div>

  <digimon-card-app-deck-cardtype-card-list
    [deckCardList]="(digitamaDeckCardList$ | async) || []"
    [count]="(digitamaCount$ | async) || 0"
    [cardtype]="'digitama'"
    (add)="addCard$.next($event)"
    (remove)="removeCard$.next($event)"
  ></digimon-card-app-deck-cardtype-card-list>

  <digimon-card-app-deck-cardtype-card-list
    [deckCardList]="(lvNoneDeckCardList$ | async) || []"
    [count]="(lvNoneDeckCardCount$ | async) || 0"
    [cardtype]="'Lv. None'"
    (add)="addCard$.next($event)"
    (remove)="removeCard$.next($event)"
  ></digimon-card-app-deck-cardtype-card-list>

  <digimon-card-app-deck-cardtype-card-list
    [deckCardList]="(lv3DeckCardList$ | async) || []"
    [count]="(lv3Count$ | async) || 0"
    [cardtype]="'Lv.3'"
    (add)="addCard$.next($event)"
    (remove)="removeCard$.next($event)"
  ></digimon-card-app-deck-cardtype-card-list>

  <digimon-card-app-deck-cardtype-card-list
    [deckCardList]="(lv4DeckCardList$ | async) || []"
    [count]="(lv4Count$ | async) || 0"
    [cardtype]="'Lv.4'"
    (add)="addCard$.next($event)"
    (remove)="removeCard$.next($event)"
  ></digimon-card-app-deck-cardtype-card-list>

  <digimon-card-app-deck-cardtype-card-list
    [deckCardList]="(lv5DeckCardList$ | async) || []"
    [count]="(lv5Count$ | async) || 0"
    [cardtype]="'Lv.5'"
    (add)="addCard$.next($event)"
    (remove)="removeCard$.next($event)"
  ></digimon-card-app-deck-cardtype-card-list>

  <digimon-card-app-deck-cardtype-card-list
    [deckCardList]="(lv6DeckCardList$ | async) || []"
    [count]="(lv6Count$ | async) || 0"
    [cardtype]="'Lv.6'"
    (add)="addCard$.next($event)"
    (remove)="removeCard$.next($event)"
  ></digimon-card-app-deck-cardtype-card-list>

  <digimon-card-app-deck-cardtype-card-list
    [deckCardList]="(lv7DeckCardList$ | async) || []"
    [count]="(lv7Count$ | async) || 0"
    [cardtype]="'Lv.7'"
    (add)="addCard$.next($event)"
    (remove)="removeCard$.next($event)"
  ></digimon-card-app-deck-cardtype-card-list>

  <digimon-card-app-deck-cardtype-card-list
    [deckCardList]="(tamerDeckCardList$ | async) || []"
    [count]="(tamerCount$ | async) || 0"
    [cardtype]="'tamer'"
    (add)="addCard$.next($event)"
    (remove)="removeCard$.next($event)"
  ></digimon-card-app-deck-cardtype-card-list>

  <digimon-card-app-deck-cardtype-card-list
    [deckCardList]="(optionDeckCardList$ | async) || []"
    [count]="(optionCount$ | async) || 0"
    [cardtype]="'option'"
    (add)="addCard$.next($event)"
    (remove)="removeCard$.next($event)"
  ></digimon-card-app-deck-cardtype-card-list>

  <div class="flex mt-6">
    <div class="m-2">
      <button mat-stroked-button (click)="exportDeck$.next()">Export</button>
      <a #downloadLink href="#" id="download"></a>
    </div>
    <div class="m-2">
      <button
        mat-flat-button
        color="warn"
        class="delete-btn"
        (click)="deleteDeck$.next()"
      >
        Delete
      </button>
    </div>
  </div>
</div>
