:host {
  display: block;
}

.deck-card-list {
  padding-bottom: 32px;
  margin-top: 12px;
}

.count-label {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 8px 12px;
  border-radius: 3px;
  margin-bottom: 8px;
  &.total-count {
    background-color: #101010;
    color: #fff;
    position: sticky;
    top: 0;
  }
}

.delete-btn {
  margin-top: 24px;
}